/* colors - see style guide for docs 
Clearly there is more you could place in variables, up to you if you want to use them My answer does not go beyond colors to keep the code easier to read */

:root {
    --color1: #001219;
    --color2: #005f73;
    --color3: #3d9397;
    --color4: #94d28d;
    --color5: #e9d8a6;
    --color6: #ee9800;
    --color7: #ca6702;
    --color8: #bb3e03;
    --color9: #ae2012;
    --color10: #9b2226;
}


/* generic site styles */

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #DBE5DE;
    padding: 0;
    margin: 0;
}

section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

section h2 {
    font-size: 2.5rem;
}

img {
  max-width: 100%;
}

ul {
  list-style-type: none;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  max-width: 100%;
  row-gap: 20px;
}

li {
  flex-basis: 100%;
}

figure {
  display: flex;
  flex-flow: column nowrap;
  border: 5px solid var(--color2);
  border-radius: 3px;
  position: relative;
  margin: 0px;
  padding: 0px;
}

figcaption {
  position: absolute;
  bottom: 0px;
  color: black;
  background-color: white;
  width: 100%;
  opacity: 0.7;
  padding: 1rem;
}

figcaption a {
  text-decoration: none;
  color: black;
  font-size: x-large;
  font-weight: bold;
}


.f1 {
  border-color: var(--color8);
}

.f2 {
  border-color: var(--color2);
}

.f3 {
  border-color: var(--color7);
}

.f4 {
  border-color: var(--color9);
}

.f5 {
  border-color: var(--color4);
}

.f6 {
  border-color: var(--color3);
}
/* Initial mobile layout: a series of images stacked on top of each other with the figure caption over the image. */


/* At this breakpoint, transition to 2 figures per line */

@media (min-width: 550px) {
  ul {
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    max-width: 100%;
    gap: 1%;
    row-gap: 20px;
  }

  li {
    flex-basis: 49.5%;
  }
}


/* At this breakpoint, transition to 3 figures per line */

@media (min-width: 800px) {
  ul {
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    max-width: 100%;
    gap: 2%;
    row-gap: 20px;
  }

  li {
    flex-basis: 32%;
  }
}